@using MyVegetableGarden.Models
@using MyVegetableGarden.Models.I18n
@using ButtonType = MudBlazor.ButtonType

@inject IStringLocalizer<Words> I18n

<EditForm Model="CurrentPlant" OnValidSubmit="_SubmitAsync">
    <DataAnnotationsValidator/>
    <MudDialog>
        <DialogContent>
            <MudCardContent>
                <MudTextField @bind-Value="CurrentPlant.Name" For="@(() => CurrentPlant.Name)" Label="@I18n["Name"]"/>
                <MudSelect T="PlantType" @bind-Value="CurrentPlant.Type" For="@(() => CurrentPlant.Type)" Label="@I18n["Type"]">
                    <MudSelectItem Value="PlantType.Fruit">@I18n["Fruit"]</MudSelectItem>
                    <MudSelectItem Value="PlantType.Vegetable">@I18n["Vegetable"]</MudSelectItem>
                </MudSelect>
            </MudCardContent>
        </DialogContent>
        <DialogActions>
            <MudButton Color="Color.Secondary" OnClick="_Close">@I18n["Cancel"]</MudButton>

            @if (CurrentPlant.Id > 0)
            {
                <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary">@I18n["Update"]</MudButton>
            }
            else
            {
                <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary">@I18n["Add"]</MudButton>
            }
        </DialogActions>
    </MudDialog>
</EditForm>