@using MyVegetableGarden.Models
@using MyVegetableGarden.Models.I18n
@using ButtonType = MudBlazor.ButtonType

@inject IStringLocalizer<Words> I18n

<EditForm Model="CurrentProvider" OnValidSubmit="_SubmitAsync">
    <DataAnnotationsValidator/>
    <MudDialog>
        <DialogContent>
            <MudCardContent>
                <MudTextField @bind-Value="CurrentProvider.Name" For="@(() => CurrentProvider.Name)" Label="@I18n["Name"]"/>
                <MudTextField @bind-Value="CurrentProvider.Website" For="@(() => CurrentProvider.Website)" Label="@I18n["Website"]"/>
            </MudCardContent>
        </DialogContent>
        <DialogActions>
            <MudButton Color="Color.Secondary" OnClick="_Close">@I18n["Cancel"]</MudButton>

            @if (CurrentProvider.Id > 0)
            {
                <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary">@I18n["Update"]</MudButton>
            }
            else
            {
                <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary">@I18n["Add"]</MudButton>
            }
        </DialogActions>
    </MudDialog>
</EditForm>