@using MyVegetableGarden.Models
@using MyVegetableGarden.Models.I18n
@using ButtonType = MudBlazor.ButtonType

@inject IStringLocalizer<Words> I18n

<EditForm Model="CurrentVariety" OnValidSubmit="_SubmitAsync">
    <DataAnnotationsValidator/>
    <MudDialog>
        <DialogContent>
            <MudCardContent>
                <MudTextField @bind-Value="CurrentVariety.Name" For="@(() => CurrentVariety.Name)" Label="@I18n["Name"]"/>
                <MudAutocomplete T="Plant" Label="@I18n["Plant"]" Value="CurrentVariety.Plant" ValueChanged="PlantValueChanged" SearchFunc="@_SearchPlantAsync" ShowProgressIndicator="true" ToStringFunc="@(e => $"{e.Name}")">
                    <ItemTemplate Context="e">
                        <MudText>@e.Name</MudText>
                    </ItemTemplate>
                    <ItemSelectedTemplate Context="e">
                        <MudText>@e.Name</MudText>
                    </ItemSelectedTemplate>
                    <ProgressIndicatorTemplate>
                        <MudProgressLinear Size="Size.Small" Indeterminate="true"/>
                    </ProgressIndicatorTemplate>
                </MudAutocomplete>
                <MudAutocomplete T="Provider" Label="@I18n["Provider"]" Value="CurrentVariety.Provider" ValueChanged="ProviderValueChanged" SearchFunc="@_SearchProviderAsync" ShowProgressIndicator="true" ToStringFunc="@(e => $"{e.Name}")">
                    <ItemTemplate Context="e">
                        <MudText>@e.Name</MudText>
                    </ItemTemplate>
                    <ProgressIndicatorTemplate>
                        <MudProgressLinear Size="Size.Small" Indeterminate="true"/>
                    </ProgressIndicatorTemplate>
                </MudAutocomplete>
            </MudCardContent>
        </DialogContent>
        <DialogActions>
            <MudButton Color="Color.Secondary" OnClick="_Close">@I18n["Cancel"]</MudButton>

            @if (CurrentVariety.Id > 0)
            {
                <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary">@I18n["Update"]</MudButton>
            }
            else
            {
                <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary">@I18n["Add"]</MudButton>
            }
        </DialogActions>
    </MudDialog>
</EditForm>