@using MyVegetableGarden.Models
@using MyVegetableGarden.Models.I18n
@using ButtonType = MudBlazor.ButtonType
@using Variant = MudBlazor.Variant
@inject IStringLocalizer<Words> I18n

<EditForm Model="CurrentSeedling" OnValidSubmit="_SubmitAsync">
    <DataAnnotationsValidator/>
    <MudDialog>
        <DialogContent>
            <MudCardContent>
                <MudAutocomplete T="Plant" Label="@I18n["Plant"]" Value="_SelectedPlant" ValueChanged="PlantValueChanged" SearchFunc="@_SearchPlantAsync" ShowProgressIndicator="true" ToStringFunc="@(e => $"{e.Name}")">
                    <ItemTemplate Context="e">
                        <MudText>@e.Name</MudText>
                    </ItemTemplate>
                    <ItemSelectedTemplate Context="e">
                        <MudText>@e.Name</MudText>
                    </ItemSelectedTemplate>
                    <ProgressIndicatorTemplate>
                        <MudProgressLinear Size="Size.Small" Indeterminate="true"/>
                    </ProgressIndicatorTemplate>
                </MudAutocomplete>
                <MudAutocomplete T="Variety" Label="@I18n["Variety"]" Value="CurrentSeedling.Variety" ValueChanged="VarietyValueChanged" SearchFunc="@_SearchVarietyAsync" ShowProgressIndicator="true" ToStringFunc="@(e => $"{e.Name}")">
                    <ItemTemplate Context="e">
                        <MudText>@e.Name</MudText>
                    </ItemTemplate>
                    <ItemSelectedTemplate Context="e">
                        <MudText>@e.Name</MudText>
                    </ItemSelectedTemplate>
                    <ProgressIndicatorTemplate>
                        <MudProgressLinear Size="Size.Small" Indeterminate="true"/>
                    </ProgressIndicatorTemplate>
                </MudAutocomplete>
                <MudNumericField @bind-Value="CurrentSeedling.Quantity" Variant="Variant.Text" Min="0" />
                <MudSelect T="SeedlingType" @bind-Value="CurrentSeedling.Type" For="@(() => CurrentSeedling.Type)" Label="@I18n["Type"]">
                    <MudSelectItem Value="SeedlingType.Inside">@I18n["Inside"]</MudSelectItem>
                    <MudSelectItem Value="SeedlingType.Outside">@I18n["Outside"]</MudSelectItem>
                </MudSelect>
                <MudDatePicker Label="@I18n["Date"]" @bind-Date="_Date" For="@(() => _Date)" />
            </MudCardContent>
        </DialogContent>
        <DialogActions>
            <MudButton Color="Color.Secondary" OnClick="_Close">@I18n["Cancel"]</MudButton>

            @if (CurrentSeedling.Id > 0)
            {
                <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary">@I18n["Update"]</MudButton>
            }
            else
            {
                <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary">@I18n["Add"]</MudButton>
            }
        </DialogActions>
    </MudDialog>
</EditForm>