@using MyVegetableGarden.Models.I18n
@inject IStringLocalizer<Words> I18n

<MudDialog>
    <DialogContent>
        <MudCardContent>
            @I18n["ConfirmVarietyRemoval"] : @CurrentVariety.Name ?
        </MudCardContent>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Secondary" OnClick="_Close">@I18n["Cancel"]</MudButton>
        <MudButton Color="Color.Primary" OnClick="_RemoveAsync">@I18n["Remove"]</MudButton>
    </DialogActions>
</MudDialog>