@page "/Seedlings"

@inject IStringLocalizer<Words> I18n
@using MyVegetableGarden.Models
@using MyVegetableGarden.Models.I18n

<h3>@I18n["Seedlings"]</h3>

<MudDataGrid @ref="_DataGrid" ReadOnly="false" ServerData="_LoadGridData" T="Seedling" SortMode="SortMode.None">
    <ToolBarContent>
        <MudButton StartIcon="@Icons.Material.Filled.Add" OnClick="@_AddSeedlingAsync" Class="add-item-btn">@I18n["Add"]</MudButton>
        <MudSpacer/>
        <MudTextField T="string" ValueChanged="_OnFilterValueChanged" Placeholder="@I18n["Search"]" Adornment="Adornment.Start" Immediate="true"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0">
        </MudTextField>
    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="x => x.Variety.Plant.Name" Title="@I18n["Plant"]"/>
        <PropertyColumn Property="x => x.Variety.Name" Title="@I18n["Variety"]"/>
        <PropertyColumn Property="x => x.Date" Title="@I18n["Date"]"/>
        <PropertyColumn Property="x => x.Quantity" Title="@I18n["Quantity"]"/>
        <TemplateColumn Title="@I18n["Type"]">
            <CellTemplate>
                @I18n[@context.Item.Type.ToString()]
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn CellClass="d-flex justify-end">
            <CellTemplate>
                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@((e) => _EditSeedlingAsync(context.Item))"/>
                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" OnClick="@((e) => _RemoveSeedlingAsync(context.Item))"/>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <PagerContent>
        <MudDataGridPager T="Seedling" InfoFormat="{first_item}-{last_item} / {all_items}" DisableRowsPerPage="true"/>
    </PagerContent>
</MudDataGrid>