@page "/Varieties"

@inject IStringLocalizer<Words> I18n
@using MyVegetableGarden.Models
@using MyVegetableGarden.Models.I18n

<h3>@I18n["Varieties"]</h3>

<MudDataGrid @ref="_DataGrid" ReadOnly="false" ServerData="_LoadGridData" T="Variety" SortMode="SortMode.None">
    <ToolBarContent>
        <MudButton StartIcon="@Icons.Material.Filled.Add" OnClick="@_AddVarietyAsync" Class="add-item-btn">@I18n["Add"]</MudButton>
        <MudSpacer/>
        <MudTextField T="string" ValueChanged="_OnFilterValueChanged" Placeholder="@I18n["Search"]" Adornment="Adornment.Start" Immediate="true"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0">
        </MudTextField>
    </ToolBarContent>
    <Columns>
        <PropertyColumn Property="x => x.Name" Title="@I18n["Name"]"/>
        <PropertyColumn Property="x => x.Plant.Name" Title="@I18n["Plant"]"/>
        <PropertyColumn Property="x => x.Provider.Name" Title="@I18n["Provider"]"/>
        <TemplateColumn CellClass="d-flex justify-end">
            <CellTemplate>
                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@((e) => _EditVarietyAsync(context.Item))"/>
                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" OnClick="@((e) => _RemoveVarietyAsync(context.Item))"/>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <PagerContent>
        <MudDataGridPager T="Variety" InfoFormat="{first_item}-{last_item} / {all_items}" DisableRowsPerPage="true"/>
    </PagerContent>
</MudDataGrid>